# Node modules
node_modules/

# Environment files
.env
.env.local

# Build folders
build/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Cache / temp files
.cache/
*.tmp
