body{
top: 0;
margin: 0;
background: linear-gradient(135deg,#3c5bd7,#eb2ace);
}
.kaka{
    height: 40px;
    width: 40px;
    background-color: white;
    transition: transform,box-shadow,0.2s;
}
.kaka:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}