body {
  margin: 0;
  padding: 0;
  height: 100vh;

}

.navbar {
  background-color: rgb(28, 115, 214);
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  font-size: 17px;
  align-items: center;
}
/* Normal link style */
.nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 6px 8px;     
  font-size: 14px;        
  border-radius: 6px;     
  transition: background-color 0.2s;
}


.nav-link.active {
  font-weight: bold;
  color: white;
  background-color: #3498db; 
  border-radius: 8px;
  padding: 8px 8px;
  text-decoration: none;
}

.forms{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form{
  height: auto;
  width: 300px;
  border-radius: 15px;
  background-color: white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
  padding: 30px;
  padding-top: 30px;
  gap: 15px;
}
.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex; justify-content: center; align-items: center;
  z-index: 999;
}
.modal-content {
  background: white; padding: 20px; border-radius: 10px;
  text-align: center; min-width: 250px;
}
.modal-content button {
  margin-top: 15px; padding: 8px 15px; cursor: pointer;
  border: none; border-radius: 5px; background-color: #4caf50;
  color: white;
}

.input, .input1,.input2{

  height: 40px;
  width: 100%;
  margin-top: 2px ;
border-radius: 8px;
border: 1px solid #ccc;
padding: 10px;
font-size: 17px;
box-sizing: border-box;
}
.input:focus {
  border: 2px solid #7c7e81; 
  outline: none;              
  box-shadow: 0 0 5px rgba(154, 139, 139, 0.5); 
}
.label,.label1,.label2{
  font-size: 18px;
  
}
.button{
  height: 40px;
  width: 100%;
  background-color: #50c725;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  margin-top: 15px;
  font-weight: bold;
  transition: 0.2s;
}
.button:hover{
  background-color: #42ac1b;
}
.button:disabled {
  background-color: rgb(57, 131, 11);
  cursor: not-allowed;
  opacity: 0.7;
}

.button:disabled:hover {
  background-color: rgb(84, 170, 9);
}
