body {
  margin: 0;
  padding: 0;
  height: 100vh;

}

.navbar {
  background-color: rgb(28, 115, 214);
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  font-size: 17px;
  align-items: center;
}
/* Normal link style */
.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 6px 8px;     
  font-size: 14px;        
  border-radius: 6px;     
  transition: background-color 0.2s;
}


.nav-link.active {
  font-weight: bold;
  color: white;
  background-color: #3498db; 
  border-radius: 8px;
  padding: 8px 8px;
  text-decoration: none;
}

.forms{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form{
  height: auto;
  width: 350px;
  border-radius: 15px;
  background-color: white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
  padding: 30px;
  padding-top: 30px;
  gap: 15px;
}
.input, .input1,.input2{

  height: 40px;
  width: 100%;
  margin-top: 2px ;
border-radius: 8px;
border: 1px solid #ccc;
padding: 10px;
font-size: 17px;
box-sizing: border-box;
}
.input:focus {
  border: 2px solid #7c7e81; 
  outline: none;              
  box-shadow: 0 0 5px rgba(154, 139, 139, 0.5); 
}
.label,.label1,.label2{
  font-size: 18px;
  
}
.button{
  height: 40px;
  width: 100%;
  background-color: #59df28;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  margin-top: 15px;
  font-weight: bold;
  transition: 0.2s;
}
.button:hover{
  background-color: #42ac1b;
}